@import "susy";
@import "compass/css3/border-radius";
@import "compass/css3/transform";

@import "colors.scss";

$total-columns: 12;
$column-width:  60px;
$gutter-width:  20px;
$grid-padding:  0;

@include border-box-sizing;

body header {
    padding: 0 20px;

    .header-content {
        @media (min-width: 720px) {
            @include container;
        }
    }
}

body.page {
    .intro {
        background: $intro-bg-color;

        h1 {
            color: $intro-fg-color;
        }
    }

    .details {
        background: $sidebar-bg-color;
    }
}

body.page .intro {
    .intro-content {
        @media (min-width: 720px) {
            @include with-grid-settings($total-columns, $column-width, $gutter-width, 20px) {
                @include container;
            }
        }

        @media (max-width: 719px) {
            padding: 20px;
        }

        padding-top: 40px;
        padding-bottom: 40px;

        .section {
            font-size: 20px;
        }

        h1 {
            font-size: 36px;
            line-height: 40px;
        }

        p {
            @media (min-width: 720px) {
                @include span-columns(8, 12);
            }

            font-size: 15px;
            padding-top: 40px;
        }
    }
}

body.page .content {
    article {
        @media (min-width: 720px) {
            @include with-grid-settings($total-columns, $column-width, $gutter-width, 20px) {
                @include container;
            }
        }

        @media (max-width: 719px) {
            padding-left: 20px;
            padding-right: 20px;
        }

        padding-top: 0;
        padding-bottom: 40px;

        .article-content {
            padding-top: 40px;

            @media (min-width: 720px) {
                @include span-columns(8, 12);
            }

            ul, ol, pre, p, h2, h3 {
                margin-bottom: 20px;
            }

            ul, ol {
                margin-left: 20px;
            }

            ul li {
                list-style-type: square;
            }

            ol li {
                list-style-type: decimal;
            }

            ol > li > ol,
            ol > li > ul,
            ul > li > ol,
            ul > li > ul {
                margin-bottom: 0;
            }

            ul.spacious li, ol.spacious li {
              margin-bottom: 20px;
            }

            ul.spacious li pre, ol.spacious li pre {
              margin-top: 20px;
            }

            ol.toc {
                margin-left: 0;
            }

            ol.toc ol {
                margin-left: 18px;
            }

            ol.toc, ol.toc ol {
                counter-reset: section;
            }

            ol.toc li {
                list-style-type: none;
                counter-increment: section;
            }

            ol.toc.big {
                font-weight: bold;
            }

            ol.toc.big ol {
                font-weight: normal;
            }

            ol.toc li:before {
                content: counters(section, ".");
                margin-right: 5px
            }

            .section {
                margin-bottom: 40px;
            }

            h2 {
                font-size: 24px;
                font-weight: normal;
            }

            * + h2 {
                margin-top: 40px;
            }

            h3 {
                font-size: 18px;
                font-weight: normal;

                margin-top: 40px;
            }

            .donate {
                text-align: center;
                padding: 20px 0;

                a, a:hover {
                    background: none;
                }
            }
        }

        .side {
            @media (min-width: 720px) {
                @include span-columns(4 omega, 12);

                position: relative;
                top: -60px;
            }

            @media (max-width: 719px) {
                margin: 40px 0 0 0;
            }

            .details {
                padding: 20px;
                margin-bottom: 20px;
            }

            .details {
                h3 {
                    font-size: 20px;
                    padding-bottom: 20px;

                    @media (max-width: 719px) {
                        display: none;
                    }
                }

                h4 + ul {
                    margin-top: 0;
                }

                h4, dt, ol, ul, p {
                    margin-top: 20px;

                    @media (max-width: 719px) {
                        margin-top: 0;
                    }
                }

                @media (max-width: 719px) {
                    p + ol.toc,
                    h4 + ol.toc,
                    ul + h4 {
                        margin-top: 20px;
                    }
                }

                ul {
                    margin-left: 0;
                }

                ul li {
                    list-style-type: none;
                }
            }
        }

        .side.no-details {
            @media (min-width: 720px) {
                top: 20px;
            }
        }
    }
}

body.home {
    .explanation {
        background: $intro-bg-color;
        color: $intro-fg-color;
    }

    .ticker {
        background: $dark-bg-color;
        color: $dark-fg-color;

        @include dark-background-links;
    }
}

body.home .explanation {
    .explanation-content {
        @include container;

        p {
            padding: 40px 20px;

            font-size: 32px;
            line-height: 40px;
            text-align: center;

            @media (max-width: 719px) {
                padding: 20px;

                font-size: 24px;
                line-height: 30px;
            }
        }
    }
}

body.home .ticker {
    .ticker-content {
        @include container;

        padding: 10px;
        font-size: 13px;
        text-align: center;

        span {
            font-weight: bold;
        }
    }
}

body.home .support {
    @include container;

    border-top-width: 1px;
    border-top-style: solid;
    padding: 40px 20px 40px 20px;

    .support-content {
        @media (min-width: 720px) {
            padding: 0 60px 0 240px;
            position: relative;

            background-position: 100px 15px;
            background-repeat: no-repeat;
            background-image: url(/assets/images/heart.png);
            background-size: 82px;
        }

        h3 {
            font-size: 20px;
            line-height: 40px;
        }
    }
}

footer {
    background: $dark-bg-color url(/assets/images/background-dark.png);

    @include dark-background-links;

    .links {
        div, li:after {
            color: $dark-fg-color;
        }
    }

    .copyright {
        border-color: $dark-border-color;
        color: $dark-fg-color;
    }
}

footer {
    p {
        font-size: 13px;
    }

    a {
        padding: 0 2px;
        margin: 0;
    }

    padding: 0;
    margin: 60px 0 -40px 0;

    .footer-content {
        @include with-grid-settings($total-columns, $column-width, $gutter-width, 20px) {
            @include container;
        }

        .links {
            padding: 40px 0;

            ul {
                margin-left: -2px;

                li {
                    padding: 0 2px;
                    margin: 0 -2px;
                    display: inline-block;
                }

                li:after {
                    padding: 0 5px;
                    content: "\00B7";
                }

                li:last-child:after {
                    padding: 0;
                    content: "";
                }
            }
        }

        .copyright {
            padding: 20px 0 40px 0;
            border-top-width: 1px;
            border-top-style: solid;

            p {
                max-width: 700px;
                padding-left: 55px;
                background: url(/assets/images/logo-footer.png) left center no-repeat;
                background-size: 40px 40px;
            }
        }
    }
}
