---
title: "Command-line interface"
---

<% @items.find_all('/doc/reference/commands/*').sort_by { |i| i[:name].to_s }.each do |command| %>
<%= render '/autodoc_partial.*', :item => command %>
<% end %>
