<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= @item[:full_title] || 'Nanoc &raquo; ' + @item[:title] %></title>
        <link href="<%= @items['/assets/style/screen.*'].path %>" media="screen" rel="stylesheet">
        <link href="<%= @items['/assets/style/print.*'].path %>"  media="print" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Roboto+Mono:400,400italic,700' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width">
        <% if @item[:redirect_to] %>
            <meta http-equiv="refresh" content="0;URL='<%= @item[:redirect_to] %>'">
        <% end %>
    </head>
    <body class="<%= @item[:has_basic_layout] ? 'home' : 'page' %>">
        <header>
            <div class="header-content">
                <nav class="main">
                    <ol>
                        <%= nav_link @items['/index.*'] %>
                        <%= nav_link @items['/about.*'] %>
                        <%= nav_link @items['/doc.*'] %>
                        <%= nav_link @items['/community.*'] %>
                        <%= nav_link @items['/contributing.*'] %>
                    </ol>
                </nav>
            </div>
        </header>
<% if @item[:has_basic_layout] %>
    <%= yield %>
<% else %>
        <div class="intro">
            <div class="intro-content">
                <h1><%= @item[:title] %></h1>
            </div>
        </div>
        <div class="content">
            <article>
                <div class="side<%= @item[:skip_details] ? ' no-details' : '' %>">
                    <% if @item[:toc] %>
                        <div class="details">
                            <h3>Table of contents</h3>
                            <%= sidebar_toc_for(@item) %>
                        </div>
                    <% elsif !@item[:skip_details] %>
                        <div class="details">
                            <h3>Table of contents</h3>
                            {{TOC}}
                        </div>
                        <%= seq_nav_links %>
                    <% end %>
                </div>
                <div class="article-content">
                    <%= yield %>
                </div>
            </article>
        </div>
<% end %>
        <footer>
            <div class="footer-content">
                <div class="links">
                    <div>Don’t stick around forever. For a change of scenery, go over here:</div>
                    <ul>
                        <li><a href="https://github.com/nanoc/nanoc">GitHub repository</a></li>
                        <li><a href="http://github.com/nanoc/nanoc/issues">Issue tracker</a></li>
                        <li><a href="http://groups.google.com/group/nanoc">Discussion group</a></li>
                        <li><a href="irc://chat.freenode.net/#nanoc">IRC channel</a></li>
                        <li><a href="http://www.pledgie.com/campaigns/9282">Donate</a></li>
                    </ul>
                </div>
                <div class="copyright">
                    <p>Nanoc © 2007–2016 Denis Defreyne. The content of the Nanoc web site is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>, with exception of code examples, which are released into the public domain. Nanoc is licensed under the MIT license. <a href="http://entypo.com/">Entypo</a> pictograms by Daniel Bruce. <a href="http://subtlepatterns.com/">Subtle Patterns</a> by Atle Mo.</p>
                </div>
            </div>
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script>$(function(){setInterval(function(){$('.slides .slide:first-child').fadeOut(1200).next('.slide').fadeIn(1200).end().appendTo('.slides');},4000);});</script>
        <script type="text/javascript">var _gaq = _gaq || []; var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js'; _gaq.push(['_require', 'inpage_linkid', pluginUrl]); _gaq.push(['_setAccount', 'UA-15639968-1']); _gaq.push(['_setDomainName', 'nanoc.ws']); _gaq.push(['_setAllowLinker', true]); _gaq.push(['_trackPageview']); (function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
    </body>
</html>
